<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12">
                <h1>About Us</h1>
            </div>
            <div class="col-12">
                <h2>The Why</h2>
                <p>The intent of making this website was pretty straightforward. Websites like <a href="https://www.allrecipes.com/">Allrecipes</a>, <a href="https://www.indianhealthyrecipes.com/">Indian Healthy Recipes</a> on the internet offered a wide range of dishes and variety of cuisines but there wasn't ONE website that was exclusive to Telugu Food. So, the idea took form of a website.</p>

                <h2>The How</h2>
                <p>Using this website is pretty easy. Browse through the different categories of recipes or search for one.<br>Find a small yet detailed ingredients and instructions list and get cooking! <br> Cannot find the recipe? or better, do YOU know a recipe that could make a great addition to this website? <br> Join us and submit YOUR recipe. All it takes is a click.</p>

                <h2>The Who</h2>
                <p>The developer behind this website - <a href="https://github.com/sarvaniballamudi">Sarvani Ballamudi</a> is a backend developer, singer and well a foodie. <br> She wanted to learn new technolgies AND make it useful for people on the internet.<br> So she combined some of her interests and turned them into a website. <br> Some of the initial recipes here are her mom - BV Gayatri's - who is an excellent chef.</p>
            </div>
        </div>
    </div>
</div>