<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share your recipes with the world with just a click!</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <% if(submitObj != '') { %>
      <div class="col-8 alert alert-success" role="alert">
        <%= submitObj %>
      </div>
    <% } %>
  
    <% if(errorsObj != '') { %>
      <div class="col-8 alert alert-danger" role="alert">
        <%= errorsObj[0].message %>
      </div>
    <% } %>

    <div class="col-8">
      <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
        <div class="row g-3">
  
          <div class="col-12">
            <label for="name" class="form-label">Recipe Name</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Ingredients</label><br>
            <div class="ingredientList">
              <div class="ingredientDiv mb-1">
                <input type="text" name="ingredients" class="form-control" placeholder="Oil">
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
          </div>

          <div class="col-12">
            <label for="name" class="form-label">Instructions</label><br>
            <div class="instructionList">
              <div class="instructionDiv mb-1">
                <input type="text" name="instructions" class="form-control" placeholder="Add oil to the pan">
              </div>
            </div>
          </div>

          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addInstructionsBtn">+ Instruction</button>
          </div>
  
          <div class="col-12">
            <label for="category">Select Category</label>
            <select class="form-select form-control" name="category" aria-label="Category">
              <option selected>Select Category</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Curries">Curries</option>
              <option value="Pickles">Pickles</option>
              <option value="Sweets">Sweets</option>
              <option value="Snacks">Snacks</option>
              <option value="Podulu">Podulu</option>
            </select>
          </div>
  
          <div class="col-12">
            <label for="image">Product Image</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Recipe</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>